rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    function isAdmin() {
      return request.auth != null
        && request.auth.token.email in [
          'artyushcharchyan0@gmail.com',
          'atucharchyan23@gmail.com'
        ];
    }

    match /orders/{orderId} {
      allow create: if request.resource.data.keys().hasAll([
          'customerName',
          'customerPhone',
          'customerAddress',
          'paymentMethod',
          'items',
          'totalPrice',
          'status',
          'createdAt',
        ])
        && request.resource.data.status == 'new'
        && request.resource.data.totalPrice is number
        && request.resource.data.items is list
        && request.resource.data.paymentMethod in ['cash', 'card_courier', 'card_online'];

      allow read, update, delete: if isAdmin();
    }

    match /adminPanel/{docId} {
      allow read, write: if request.auth != null && request.auth.token.admin == true;
    }

    match /users/{userId} {
      allow create, read, update, delete: if request.auth != null
        && request.auth.uid == userId;
    }

    match /products/{productId} {
      allow read: if true;
      allow create, update, delete: if isAdmin();
    }

    match /{document=**} {
      allow read, write: if false;
    }
  }
}
